$palette-block-height: 1.2em;

.palette-block-component {
  .value-text-container {
    height: $palette-block-height;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .value-text {
      width: 3em;
      font-weight: 600;
    }
  }

  .palette-block {
    height: $palette-block-height;
    width: 30em;
  }

  .hex-text-container,
  .rbg-text-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .rgb-text {
      text-transform: lowercase;
    }
  }

  .MuiTableCell-root {
    border-bottom: none;
  }
}